{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    Login 
{% endblock %}

{% block body %}
    <div class="container bg-info" style="min-height: 150px;">
        {% if form.errors %}
            <p style="font-size:large;"> Your name or password is not valid. Try again</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <h1 class="my-3">Login</h1>
            <table>
                <tr class="mb-3" style="font-size:large;">
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr style="font-size:large;">
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" value="login" style="font-size:large;" class="btn btn-lg btn-outline-dark my-3"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        
    
    </div>
{% endblock %}