{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    Login 
{% endblock %}

{% block body %}
    <div class="container bg-info">
        <h2>Enregistrement d'un utilisateur</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3 {% if form.username.errors %}has-warning has-feedback{% endif %}">
                <label for="{{ form.username.id_for_label }}" class="form-label">Nom</label>
                {{ form.username }}
            </div>
            <div class="mb-3 {% if form.email.errors %}has-warning has-feedback{% endif %}">
                <label for="e{{ form.email.id_for_label }}" class="form-label">E-mail</label>
                {{ form.email }}
            </div>
            <div class="mb-3 {% if form.password.errors %}has-warning has-feedback{% endif %}">
                <label for="{{ form.password.id_for_label }}" class="form-label">Mot de passe</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </form>
        {% if errors %}
            <div>
                {% for key, error in errors %}
                    {% autoescape off %}
                        {{ error }}
                    {% endautoescape %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}