{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    Register 
{% endblock %}

{% block body %}
    <div class="container bg-info">
        <h1 class="my-3">User register</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3 {% if form.username.errors %}has-warning has-feedback{% endif %}" style="font-size:large;">
                <label for="{{ form.username.id_for_label }}" class="form-label">Name</label>
                {{ form.username }}
            </div>
            <div class="mb-3 {% if form.email.errors %}has-warning has-feedback{% endif %}" style="font-size:large;">
                <label for="e{{ form.email.id_for_label }}" class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3 {% if form.password.errors %}has-warning has-feedback{% endif %}" style="font-size:large;">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-lg btn-outline-dark my-3" style="font-size:large;">Register</button>
        </form>
        {% if errors %}
            <div>
                {% for key, error in errors %}
                    {% autoescape off %}
                        {{ error }}
                    {% endautoescape %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}